<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Replay Submitted</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        {% for message in get_flashed_messages()%}
        <p> {{message}} </p>
        {% endfor %}
        <!--Next step get api data from ball chasing-->
    </body>
</html>